<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "de.thenetworks.applab"
        versionCode="11" 
        version   = "2.0.0">
    
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<icon src="icon.png" />
    <icon src="icon57.png" width="57" height="57" gap:platform="ios" />
	<icon src="icon72.png" width="72" height="72" gap:platform="ios" />
    <icon src="icon76.png" width="76" height="76" gap:platform="ios" />
    <icon src="icon120.png" width="120" height="120" gap:platform="ios" />
    <icon src="icon152.png" width="152" height="152" gap:platform="ios" />


    <name>AppLab</name>
    <description>The Networks AppLab</description>
    <author href="http://www.design-busse.de" email="cb@design-busse.de">design:busse</author>
	
	
	<access origin="*" browserOnly="true" />
	
	<preference name="StatusBarOverlaysWebView" value="false" />
	
	<preference name="detect-data-types" value="true" />
	<preference name="fullscreen" value="true" />
	<preference name="stay-in-webview" value="false"/>
	<preference name="orientation" value="portrait" />		 
	
	<gap:plugin name="org.li8.inappbrowser" version="0.1" />
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
	<gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
	<gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.console" version="0.2.7" />
	<gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.device-motion" version="0.2.6" />
	<gap:plugin name="org.apache.cordova.device-orientation" version="0.3.5" />
	<gap:plugin name="org.apache.cordova.file" version="1.0.1" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
	<gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
	<gap:plugin name="org.apache.cordova.globalization" version="0.2.6" />
	<gap:plugin name="org.apache.cordova.media" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />


</widget>